body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1A2980, #26D0CE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(78, 65, 255), rgb(11, 180, 166)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}